@{
    Layout = null;
    var firstname = ViewBag.firstname;
    var lastname = ViewBag.lastname;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
       @firstname @lastname welcome to mvc application.
    </div>
</body>
</html>
